# Database files
**/db/
**/metricsdb/


# Cache and temporary files
**/jar-cache/
*.tmp
*.bak
*.idb

# Log files
*.log
**/logs

# Certificates and security
**/certificates/
**/keystore/

# Backup and converted files
**/conversion-report.txt
**.digest.json

# Alarm history filess
**/.alarms_*

config/resources/core/ignition/quickstart/config.json
#config/resources/core/ignition/quickstart/resource.json

ignition.conf

config/resources/local/ignition/local-system-properties/resource.json
config/resources/local/ignition/local-system-properties/config.json

